<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>hello </h1>
	<h1>book your appointment</h1>
	<form>
		

<ul>
		<li><input type="date" id="start" name="trip-start" value="2024-07-22" min="2021-01-01" max="2025-12-31" />grooming</li>
		<li><input type="date" id="start" name="trip-start" value="2024-07-22" min="2021-01-01" max="2025-12-31" />bath</li>
		<li><input type="date" id="start" name="trip-start" value="2024-07-22" min="2021-01-01" max="2025-12-31" />bath + grooming </li>
	</ul>
		

		<input type="submit" name="submit">


	</form>
	 
</body>
</html>