<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<h1>welcome to FurCut </h1>
 
	<h2>to get started choose your pet </h2>


	<form method="POST" action="/home">

		<h2>CAT</h2>
		<input type="radio" name="pet">
		<br>
		<h2>DOG</h2>
		<input type="radio" name="pet">
		<br>
		<input type="submit" name="submit">
		<br>


	</form>

	<a href="/signout"><button>signout</button></a>

</body>
</html>